@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    font-family: "Red Hat Text", sans-serif;

}


.cart{
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    
}