@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: "Red Hat Text", sans-serif;
    background-color: hsl(20, 50%, 98%)
}
main{
    display: flex;
    justify-content: space-around;
    
}
.food-container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
h1{
    margin-left: 20px;
    
}
.food-image{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    &:hover{
        border: 3px solid hsl(14, 86%, 42%);
     }
   
}
.food-items{
     margin: 20px;
     
}

.child-food-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cart-details{
    margin-top: 30px;
}
p,h4{
    margin-top: 4px;
}
p{
    font-size: 17px;
}
.price{
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}
.title{
    color:hsl(12,20%,44%)
}

.cart-details{
    background-color: white;
    height: 450px;
    margin-top: 100px;
    width: 370px;
    padding: 15px;
    border-radius: 10px;
}
.cart-details .item{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.cart-details .price-list{
    display: flex;
}

 .at-price, .actual-price{
    margin-left: 15px;
    font-size: 15px;
    color: hsl(12, 20%, 44%);
}

.remove-icon{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    border: 1px solid hsl(12,20%,44%);
    border-radius: 50%;
    padding: 2px;

}

.item-container{
    margin-top: 10px;
}
.food-name{
    font-weight: 600;
}
.cart{
    color: hsl(14, 86%, 42%);
    text-align: start;
}
.order-details{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-weight: 400;
}
.order{
    font-size: 18px;
}
.delivery-tag{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    background-color: hsl(20, 50%, 98%);
    padding: 10px;
    border-radius: 5px;
}
.delivery{
    font-size: 16px;
    margin-top: 1px;
    font-weight: 500;
}
.delivery{
    margin-left: 5px;
}
.order-btn{
    background-color: hsl(14, 86%, 42%);
    color: white;
    border: none;
    width: 100%;
    height: 40px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 16px;
}